---
http_interactions:
- request:
    method: get
    uri: http://secure.ultracart.com/rest/site/items/OM-2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Uc-Merchant-Id:
      - ATOMA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"description":"1-year Membership","preorder":false,"autoOrderable":false,"inventoryTracked":false,"manufacturerSuggestedRetailPrice":null,"multimedias":[],"maximumQuantity":null,"variationMatrix":null,"variations":[],"baseCurrencyCode":null,"cost":120.00,"inactive":false,"inStock":true,"length":{"value":0.00000,"uom":"IN"},"attributes":[],"cases":[],"minimumQuantity":1,"height":{"value":0.00000,"uom":"IN"},"width":{"value":0.00000,"uom":"IN"},"weight":null,"extendedDescription":"","itemId":"OM-2","currencyCode":"USD","itemOid":5195109,"costLocalizedFormatted":"$120.00","availableQuantity":0,"allowBackorder":false,"defaultImageUrl":null,"defaultThumbnailUrl":null,"options":[],"schedules":[],"costLocalized":120.00,"manufacturerSuggestedRetailPriceLocalized":null,"viewUrl":null,"manufacturerSuggestedRetailPriceLocalizedFormatted":null,"defaultImageSsl":null,"defaultThumbnailSsl":null}'
  recorded_at: Wed, 25 May 2016 22:52:38 GMT
recorded_with: VCR 3.0.3
