---
http_interactions:
- request:
    method: get
    uri: http://secure.ultracart.com/rest/site/items/OM-2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Uc-Merchant-Id:
      - ATOMA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"inventoryTracked":false,"multimedias":[],"itemId":"OM-2","extendedDescription":"","maximumQuantity":null,"length":{"value":0.00000,"uom":"IN"},"attributes":[],"description":"1-year
        Membership","availableQuantity":0,"allowBackorder":false,"defaultImageUrl":null,"defaultThumbnailUrl":null,"schedules":[],"costLocalized":120.00,"manufacturerSuggestedRetailPriceLocalized":null,"manufacturerSuggestedRetailPrice":null,"viewUrl":null,"defaultImageSsl":null,"defaultThumbnailSsl":null,"manufacturerSuggestedRetailPriceLocalizedFormatted":null,"cases":[],"minimumQuantity":1,"weight":null,"currencyCode":"USD","itemOid":5195109,"inactive":false,"options":[],"height":{"value":0.00000,"uom":"IN"},"width":{"value":0.00000,"uom":"IN"},"baseCurrencyCode":null,"cost":120.00,"variationMatrix":null,"variations":[],"autoOrderable":false,"preorder":false,"costLocalizedFormatted":"$120.00","inStock":true}'
  recorded_at: Thu, 26 May 2016 15:49:15 GMT
[...]
- request:
    method: put
    uri: http://secure.ultracart.com/rest/cart
    body:
      encoding: UTF-8
      string: '{"merchantId":"ATOMA","items":[{"inventoryTracked":false,"multimedias":[],"itemId":"OM-2","extendedDescription":"","maximumQuantity":null,"length":{"value":0.0,"uom":"IN"},"attributes":[],"description":"1-year
        Membership","availableQuantity":0,"allowBackorder":false,"defaultImageUrl":null,"defaultThumbnailUrl":null,"schedules":[],"costLocalized":120.0,"manufacturerSuggestedRetailPriceLocalized":null,"manufacturerSuggestedRetailPrice":null,"viewUrl":null,"defaultImageSsl":null,"defaultThumbnailSsl":null,"manufacturerS[...]
