---
http_interactions:
- request:
    method: get
    uri: http://secure.ultracart.com/rest/site/items/OM-2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Uc-Merchant-Id:
      - ATOMA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"description":"1-year Membership","height":{"value":0.00000,"uom":"IN"},"width":{"value":0.00000,"uom":"IN"},"currencyCode":"USD","options":[],"preorder":false,"inactive":false,"weight":null,"autoOrderable":false,"baseCurrencyCode":null,"cost":120.00,"variationMatrix":null,"variations":[],"multimedias":[],"length":{"value":0.00000,"uom":"IN"},"attributes":[],"inStock":true,"cases":[],"minimumQuantity":1,"availableQuantity":0,"allowBackorder":false,"defaultImageUrl":null,"defaultThumbnailUrl":null,"manufacturerSuggestedRetailPrice":null,"schedules":[],"costLocalized":120.00,"manufacturerSuggestedRetailPriceLocalized":null,"viewUrl":null,"costLocalizedFormatted":"$120.00","manufacturerSuggestedRetailPriceLocalizedFormatted":null,"itemId":"OM-2","maximumQuantity":null,"inventoryTracked":false,"defaultImageSsl":null,"defaultThumbnailSsl":null,"extendedDescription":"","itemOid":5195109}'
  recorded_at: Wed, 25 May 2016 23:43:03 GMT
[...]
- request:
    method: put
    uri: http://secure.ultracart.com/rest/cart
    body:
      encoding: UTF-8
      string: '{"merchantId":"ATOMA","items":[{"table":{"description":"1-year Membership","height":{"value":0.0,"uom":"IN"},"width":{"value":0.0,"uom":"IN"},"currencyCode":"USD","options":[],"preorder":false,"inactive":false,"weight":null,"autoOrderable":false,"baseCurrencyCode":null,"cost":120.0,"variationMatrix":null,"variations":[],"multimedias":[],"length":{"value":0.0,"uom":"IN"},"attributes":[],"inStock":true,"cases":[],"minimumQuantity":1,"availableQuantity":0,"allowBackorder":false,"defaultImageUrl":null,"defaultThumbnailUrl":null,"manufactu[...]
