---
http_interactions:
- request:
    method: get
    uri: http://secure.ultracart.com/rest/site/items/OM-2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Uc-Merchant-Id:
      - ATOMA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"description":"1-year Membership","weight":null,"itemId":"OM-2","currencyCode":"USD","maximumQuantity":null,"extendedDescription":"","itemOid":5195109,"costLocalizedFormatted":"$120.00","autoOrderable":false,"preorder":false,"options":[],"height":{"uom":"IN","value":0.00000},"width":{"uom":"IN","value":0.00000},"inactive":false,"variationMatrix":null,"variations":[],"defaultImageSsl":null,"defaultThumbnailSsl":null,"manufacturerSuggestedRetailPriceLocalizedFormatted":null,"baseCurrencyCode":null,"cost":120.00,"inventoryTracked":false,"inStock":true,"viewUrl":null,"schedules":[],"costLocalized":120.00,"availableQuantity":0,"allowBackorder":false,"manufacturerSuggestedRetailPriceLocalized":null,"defaultImageUrl":null,"defaultThumbnailUrl":null,"length":{"uom":"IN","value":0.00000},"attributes":[],"manufacturerSuggestedRetailPrice":null,"multimedias":[],"cases":[],"minimumQuantity":1}'
  recorded_at: Wed, 25 May 2016 22:00:10 GMT
recorded_with: VCR 3.0.3
