---
http_interactions:
- request:
    method: get
    uri: http://secure.ultracart.com/rest/site/items/OM-2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Uc-Merchant-Id:
      - ATOMA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"description":"1-year Membership","weight":null,"itemId":"OM-2","currencyCode":"USD","maximumQuantity":null,"extendedDescription":"","itemOid":5195109,"costLocalizedFormatted":"$120.00","autoOrderable":false,"preorder":false,"options":[],"height":{"uom":"IN","value":0.00000},"width":{"uom":"IN","value":0.00000},"inactive":false,"variationMatrix":null,"variations":[],"defaultImageSsl":null,"defaultThumbnailSsl":null,"manufacturerSuggestedRetailPriceLocalizedFormatted":null,"baseCurrencyCode":null,"cost":120.00,"inventoryTracked":false,"inStock":true,"viewUrl":null,"schedules":[],"costLocalized":120.00,"availableQuantity":0,"allowBackorder":false,"manufacturerSuggestedRetailPriceLocalized":null,"defaultImageUrl":null,"defaultThumbnailUrl":null,"length":{"uom":"IN","value":0.00000},"attributes":[],"manufacturerSuggestedRetailPrice":null,"multimedias":[],"cases":[],"minimumQuantity":1}'
  recorded_at: Wed, 25 May 2016 22:27:01 GMT
- request:
    method: put
    uri: http://secure.ultracart.com/rest/cart
    body:
      encoding: UTF-8
      string: '{"merchantId":"ATOMA","items":[{"description":"1-year Membership","weight":null,"itemId":"OM-2","currencyCode":"USD","maximumQuantity":null,"extendedDescription":"","itemOid":5195109,"costLocalizedFormatted":"$120.00","autoOrderable":false,"preorder":false,"options":[],"height":{"uom":"IN","value":0.0},"width":{"uom":"IN","value":0.0},"inactive":false,"variationMatrix":null,"variations":[],"defaultImageSsl":null,"defaultThumbnailSsl":null,"manufacturerSuggestedRetailPriceLocalizedFormatted":null,"baseCurrencyCode":null,"cost":120.0,"inventoryTracked":false,"inStock":true,"viewUrl":null,"schedules":[],"costLocalized":120.0,"availableQuantity":0,"allowBackorder":false,"manufacturerSuggestedRetailPriceLocalized":null,"defaultImageUrl":null,"defaultThumbnailUrl":null,"length":{"uom":"IN","value":0.0},"attributes":[],"manufacturerSuggestedRetailPrice":null,"multimedias":[],"cases":[],"minimumQuantity":1}],"cartID":""}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"total":120.00,"currencyCode":"USD","creditCardType":"","creditCardExpirationMonth":0,"creditCardExpirationYear":0,"merchantId":"ATOMA","password":null,"shipToFirstName":"","shipToLastName":"","shipToAddress1":"","shipToAddress2":"","shipToCity":"","shipToState":"","shipToCompany":"","shipToCountry":"","shipToPhone":"","screenBrandingThemeCode":"DFLT","emailConfirm":"","arbitraryShippingHandlingTotal":null,"threatMetrixParams":null,"amazonOrderReferenceId":null,"languageIsoCode":null,"billToCompany":"","billToAddress1":"","billToAddress2":"","billToCity":"","billToState":"","billToCountry":"","billToEveningPhone":"","storeCreditCard":false,"buysafeBondFree":false,"buysafeCartDisplayText":null,"buysafeCartDisplayUrl":null,"arbitraryTax":null,"arbitraryTaxableSubtotal":null,"arbitraryTaxRate":null,"specialInstructions":"","taxExempt":false,"affiliateSubId":null,"errors":null,"giftEmail":null,"comments":null,"billToFirstName":"","billToLastName":"","customField1":null,"customField2":null,"customField3":null,"customField4":null,"customField5":null,"customField6":null,"customField7":null,"items":[{"position":1,"totalCostWithDiscount":120.00000,"defaultImageSsl":null,"defaultThumbnailSsl":null,"unitCostLocalized":120.00,"unitCostWithDiscountLocalized":120.00,"arbitraryUnitCostLocalized":null,"unitCostLocalizedFormatted":"$120.00","unitCostWithDiscountLocalizedFormatted":"$120.00","arbitraryUnitCostLocalizedFormatted":null,"manufacturerSuggestedRetailPriceLocalizedFormatted":null,"discount":0.00,"totalCost":120.00000,"schedules":[],"manufacturerSuggestedRetailPriceLocalized":null,"totalCostLocalized":120.00,"totalCostLocalizedFormatted":"$120.00","totalCostWithDiscountLocalized":120.00,"totalCostWithDiscountLocalizedFormatted":"$120.00","discountLocalized":0.00,"discountLocalizedFormatted":"$0.00","description":"1-year
        Membership","weight":{"uom":"LB","value":0.00000},"itemId":"OM-2","maximumQuantity":null,"extendedDescription":"","itemOid":5195109,"upsell":false,"arbitraryUnitCost":null,"kit":false,"preorder":false,"options":[],"height":{"uom":"IN","value":0.00000},"width":{"uom":"IN","value":0.00000},"unitCostWithDiscount":120.00,"quantity":1,"unitCost":120.00,"variations":{},"viewUrl":"","kitComponentOptions":[],"defaultImageUrl":null,"defaultThumbnailUrl":null,"length":{"uom":"IN","value":0.00000},"attributes":[],"manufacturerSuggestedRetailPrice":null,"multimedias":[],"autoOrderSchedule":null,"autoOrderLastRebillDts":null,"minimumQuantity":1}],"buysafeBondAvailable":false,"buysafeBondWanted":false,"buysafeBondCost":null,"insureShipAvailable":false,"insureShipWanted":false,"insureShipCost":null,"subtotalDiscount":0,"tax":0.00,"subtotal":120.00,"deliveryDate":null,"shipToResidential":false,"email":"","coupons":[],"paymentMethod":"","ipAddress":"50.134.227.254","customerProfile":null,"creditCardNumber":"","creditCardVerificationNumber":null,"advertisingSource":"","shipToTitle":"","exchangeRate":null,"upsellPathCode":null,"gift":false,"surcharge":0.00,"giftCharge":0.00,"giftWrapCost":0.00,"giftMessage":null,"purchaseOrderNumber":"","giftCertificateAmount":0.00,"shipToEveningPhone":"","insureShipSeparate":false,"ccEmail":null,"creditCardToken":null,"liftGate":false,"taxRate":0,"baseCurrencyCode":"USD","shippingMethod":"","taxableSubtotal":0,"taxableSubtotalDiscount":0,"taxCounty":"","shipOnDate":null,"cartId":"B85739341DD9030154EA07336F051600","billToTitle":"","billToPostalCode":"","billToDayPhone":"","shipToPostalCode":"","customerProfileCreditCardId":null,"shippingHandling":0.00,"mailingListOptIn":false,"giftCertificateRemainingBalanceAfterOrder":null,"subtotalWithDiscount":120.00,"taxableSubtotalWithDiscount":0,"shippingHandlingDiscount":0,"shippingHandlingWithDiscount":0.00,"hasGoogleCheckout":false,"googleCheckoutCompatible":false,"googleCheckoutButtonUrl":null,"googleCheckoutButtonAltText":null,"payPalButtonUrl":"https://www.paypal.com/en_US/i/btn/btn_xpressCheckoutsm.gif","payPalButtonAltText":"Fast,
        secure checkout with PayPal","hasPayPal":true,"payPalCompatible":true,"creditCardTypes":["AMEX","MasterCard","VISA"],"collectCreditCardVerificationNumber":true,"needShipping":false,"amazonButtonUrl":null,"amazonWidgetUrl":null,"hasAmazon":false,"amazonMerchantId":null,"needPayment":true,"subtotalLocalized":120.00,"subtotalDiscountLocalized":0.00,"subtotalWithDiscountLocalized":120.00,"taxLocalized":0.00,"taxableSubtotalLocalized":0.00,"taxableSubtotalDiscountLocalized":0.00,"taxableSubtotalWithDiscountLocalized":0.00,"buysafeBondCostLocalized":null,"shippingHandlingLocalized":0.00,"shippingHandlingDiscountLocalized":0.00,"shippingHandlingWithDiscountLocalized":0.00,"giftChargeLocalized":0.00,"giftCertificateAmountLocalized":0.00,"giftCertificateRemainingBalanceAfterOrderLocalized":null,"giftWrapCostLocalized":0.00,"surchargeLocalized":0.00,"totalLocalized":120.00,"subtotalLocalizedFormatted":"$120.00","subtotalDiscountLocalizedFormatted":"$0.00","subtotalWithDiscountLocalizedFormatted":"$120.00","taxLocalizedFormatted":"$0.00","taxableSubtotalLocalizedFormatted":"$0.00","taxableSubtotalDiscountLocalizedFormatted":"$0.00","taxableSubtotalWithDiscountLocalizedFormatted":"$0.00","buysafeBondCostLocalizedFormatted":null,"shippingHandlingLocalizedFormatted":"$0.00","shippingHandlingDiscountLocalizedFormatted":"$0.00","shippingHandlingWithDiscountLocalizedFormatted":"$0.00","giftChargeLocalizedFormatted":"$0.00","giftCertificateAmountLocalizedFormatted":"$0.00","giftCertificateRemainingBalanceAfterOrderLocalizedFormatted":null,"giftWrapCostLocalizedFormatted":"$0.00","surchargeLocalizedFormatted":"$0.00","totalLocalizedFormatted":"$120.00","payPalBmlButtonUrl":"https://secure.ultracart.com/checkout/images/paypalBml.png","payPalBmlLegalUrl":"https://www.securecheckout.billmelater.com/paycapture-content/fetch?hash=AU826TU8&content=/bmlweb/ppwpsiw.html","payPalBmlLegalImageUrl":"https://www.paypalobjects.com/webstatic/en_US/btn/btn_bml_text.png","affiliateId":null,"giftCertificate":null,"loggedIn":false,"diagnostics":null}'
  recorded_at: Wed, 25 May 2016 22:27:01 GMT
recorded_with: VCR 3.0.3
