---
http_interactions:
- request:
    method: get
    uri: http://secure.ultracart.com/rest/site/items/OM-2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Uc-Merchant-Id:
      - ATOMA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"description":"1-year Membership","preorder":false,"autoOrderable":false,"inventoryTracked":false,"manufacturerSuggestedRetailPrice":null,"multimedias":[],"maximumQuantity":null,"variationMatrix":null,"variations":[],"baseCurrencyCode":null,"cost":120.00,"inactive":false,"inStock":true,"length":{"value":0.00000,"uom":"IN"},"attributes":[],"cases":[],"minimumQuantity":1,"height":{"value":0.00000,"uom":"IN"},"width":{"value":0.00000,"uom":"IN"},"weight":null,"extendedDescription":"","itemId":"OM-2","currencyCode":"USD","itemOid":5195109,"costLocalizedFormatted":"$120.00","availableQuantity":0,"allowBackorder":false,"defaultImageUrl":null,"defaultThumbnailUrl":null,"options":[],"schedules":[],"costLocalized":120.00,"manufacturerSuggestedRetailPriceLocalized":null,"viewUrl":null,"manufacturerSuggestedRetailPriceLocalizedFormatted":null,"defaultImageSsl":null,"defaultThumbnailSsl":null}'
  recorded_at: Thu, 26 May 2016 05:20:52 GMT
- request:
    method: put
    uri: http://secure.ultracart.com/rest/cart
    body:
      encoding: UTF-8
      string: '{"merchantId":"ATOMA","items":[{"description":"1-year Membership","preorder":false,"autoOrderable":false,"inventoryTracked":false,"manufacturerSuggestedRetailPrice":null,"multimedias":[],"maximumQuantity":null,"variationMatrix":null,"variations":[],"baseCurrencyCode":null,"cost":120.0,"inactive":false,"inStock":true,"length":{"value":0.0,"uom":"IN"},"attributes":[],"cases":[],"minimumQuantity":1,"height":{"value":0.0,"uom":"IN"},"width":{"value":0.0,"uom":"IN"},"weight":null,"extendedDescription":"","itemId":"OM-2","currencyCode":"USD","itemOid":5195109,"costLocalizedFormatted":"$120.00","availableQuantity":0,"allowBackorder":false,"defaultImageUrl":null,"defaultThumbnailUrl":null,"options":[],"schedules":[],"costLocalized":120.0,"manufacturerSuggestedRetailPriceLocalized":null,"viewUrl":null,"manufacturerSuggestedRetailPriceLocalizedFormatted":null,"defaultImageSsl":null,"defaultThumbnailSsl":null}],"cartID":""}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"total":120.00,"password":null,"affiliateSubId":null,"billToCompany":"","billToAddress1":"","billToAddress2":"","billToCity":"","billToState":"","billToCountry":"","billToEveningPhone":"","taxExempt":false,"giftEmail":null,"comments":null,"shipToTitle":"","exchangeRate":null,"upsellPathCode":null,"gift":false,"surcharge":0.00,"giftCharge":0.00,"giftWrapCost":0.00,"giftMessage":null,"purchaseOrderNumber":"","giftCertificateAmount":0.00,"shipToEveningPhone":"","insureShipSeparate":false,"ccEmail":null,"creditCardToken":null,"liftGate":false,"email":"","billToFirstName":"","billToLastName":"","storeCreditCard":false,"buysafeBondFree":false,"buysafeCartDisplayText":null,"buysafeCartDisplayUrl":null,"arbitraryTax":null,"arbitraryTaxableSubtotal":null,"arbitraryTaxRate":null,"specialInstructions":"","emailConfirm":"","arbitraryShippingHandlingTotal":null,"threatMetrixParams":null,"amazonOrderReferenceId":null,"items":[{"position":1,"discount":0.00,"totalCostWithDiscount":120.00000,"totalCost":120.00000,"schedules":[],"manufacturerSuggestedRetailPriceLocalized":null,"unitCostLocalized":120.00,"unitCostWithDiscountLocalized":120.00,"arbitraryUnitCostLocalized":null,"unitCostLocalizedFormatted":"$120.00","unitCostWithDiscountLocalizedFormatted":"$120.00","arbitraryUnitCostLocalizedFormatted":null,"manufacturerSuggestedRetailPriceLocalizedFormatted":null,"totalCostLocalized":120.00,"totalCostLocalizedFormatted":"$120.00","totalCostWithDiscountLocalized":120.00,"totalCostWithDiscountLocalizedFormatted":"$120.00","discountLocalized":0.00,"discountLocalizedFormatted":"$0.00","defaultImageSsl":null,"defaultThumbnailSsl":null,"description":"1-year
        Membership","kit":false,"preorder":false,"upsell":false,"arbitraryUnitCost":null,"manufacturerSuggestedRetailPrice":null,"multimedias":[],"maximumQuantity":null,"unitCostWithDiscount":120.00,"quantity":1,"variations":{},"length":{"value":0.00000,"uom":"IN"},"attributes":[],"autoOrderSchedule":null,"autoOrderLastRebillDts":null,"minimumQuantity":1,"height":{"value":0.00000,"uom":"IN"},"width":{"value":0.00000,"uom":"IN"},"weight":{"value":0.00000,"uom":"LB"},"extendedDescription":"","itemId":"OM-2","itemOid":5195109,"kitComponentOptions":[],"defaultImageUrl":null,"defaultThumbnailUrl":null,"unitCost":120.00,"options":[],"viewUrl":""}],"buysafeBondAvailable":false,"buysafeBondWanted":false,"buysafeBondCost":null,"insureShipAvailable":false,"insureShipWanted":false,"insureShipCost":null,"subtotalDiscount":0,"tax":0.00,"taxRate":0,"customField1":null,"customField2":null,"customField3":null,"customField4":null,"customField5":null,"customField6":null,"customField7":null,"baseCurrencyCode":"USD","shippingMethod":"","taxableSubtotal":0,"taxableSubtotalDiscount":0,"advertisingSource":"","ipAddress":"50.134.227.254","customerProfile":null,"creditCardNumber":"","creditCardVerificationNumber":null,"coupons":[],"paymentMethod":"","affiliateId":null,"giftCertificate":null,"shipToFirstName":"","shipToLastName":"","shipToAddress1":"","shipToAddress2":"","shipToCity":"","shipToState":"","shipToCompany":"","shipToCountry":"","shipToPhone":"","screenBrandingThemeCode":"DFLT","taxCounty":"","shipOnDate":null,"shippingHandling":0.00,"currencyCode":"USD","creditCardType":"","creditCardExpirationMonth":0,"creditCardExpirationYear":0,"merchantId":"ATOMA","languageIsoCode":null,"hasGoogleCheckout":false,"googleCheckoutCompatible":false,"googleCheckoutButtonUrl":null,"googleCheckoutButtonAltText":null,"payPalButtonUrl":"https://www.paypal.com/en_US/i/btn/btn_xpressCheckoutsm.gif","payPalButtonAltText":"Fast,
        secure checkout with PayPal","hasPayPal":true,"payPalCompatible":true,"mailingListOptIn":false,"subtotalWithDiscount":120.00,"taxableSubtotalWithDiscount":0,"shippingHandlingDiscount":0,"shippingHandlingWithDiscount":0.00,"giftCertificateRemainingBalanceAfterOrder":null,"creditCardTypes":["AMEX","MasterCard","VISA"],"collectCreditCardVerificationNumber":true,"needShipping":false,"amazonButtonUrl":null,"amazonWidgetUrl":null,"hasAmazon":false,"amazonMerchantId":null,"needPayment":true,"subtotalLocalized":120.00,"subtotalDiscountLocalized":0.00,"subtotalWithDiscountLocalized":120.00,"taxLocalized":0.00,"taxableSubtotalLocalized":0.00,"taxableSubtotalDiscountLocalized":0.00,"taxableSubtotalWithDiscountLocalized":0.00,"buysafeBondCostLocalized":null,"shippingHandlingLocalized":0.00,"shippingHandlingDiscountLocalized":0.00,"shippingHandlingWithDiscountLocalized":0.00,"giftChargeLocalized":0.00,"giftCertificateAmountLocalized":0.00,"giftCertificateRemainingBalanceAfterOrderLocalized":null,"giftWrapCostLocalized":0.00,"surchargeLocalized":0.00,"totalLocalized":120.00,"subtotalLocalizedFormatted":"$120.00","subtotalDiscountLocalizedFormatted":"$0.00","subtotalWithDiscountLocalizedFormatted":"$120.00","taxLocalizedFormatted":"$0.00","taxableSubtotalLocalizedFormatted":"$0.00","taxableSubtotalDiscountLocalizedFormatted":"$0.00","taxableSubtotalWithDiscountLocalizedFormatted":"$0.00","buysafeBondCostLocalizedFormatted":null,"shippingHandlingLocalizedFormatted":"$0.00","shippingHandlingDiscountLocalizedFormatted":"$0.00","shippingHandlingWithDiscountLocalizedFormatted":"$0.00","giftChargeLocalizedFormatted":"$0.00","giftCertificateAmountLocalizedFormatted":"$0.00","giftCertificateRemainingBalanceAfterOrderLocalizedFormatted":null,"giftWrapCostLocalizedFormatted":"$0.00","surchargeLocalizedFormatted":"$0.00","totalLocalizedFormatted":"$120.00","payPalBmlButtonUrl":"https://secure.ultracart.com/checkout/images/paypalBml.png","payPalBmlLegalUrl":"https://www.securecheckout.billmelater.com/paycapture-content/fetch?hash=AU826TU8&content=/bmlweb/ppwpsiw.html","payPalBmlLegalImageUrl":"https://www.paypalobjects.com/webstatic/en_US/btn/btn_bml_text.png","diagnostics":null,"errors":null,"subtotal":120.00,"deliveryDate":null,"shipToResidential":false,"loggedIn":false,"customerProfileCreditCardId":null,"cartId":"C93A38752248FD0154EB821E12051400","billToTitle":"","billToPostalCode":"","billToDayPhone":"","shipToPostalCode":""}'
  recorded_at: Thu, 26 May 2016 05:20:52 GMT
[...]
