<% if current_user %>
    <a href=<%= logout_path %>>Logout</a>
<% else %>
    <a href=<%= login_path%>>Login</a>
<% end %>

<p><%= link_to "home", root_path %></p>
<p><%= link_to "view cart", cart_path %></p>
    
