<h1>Items#index</h1>
<p>Find me in app/views/items/index.html.erb</p>

<%= render partial: "shared/navbar" %>

<p>
    <a href="/items/OM-2" >add one year membership to cart</a>
</p>

<p>
    <a href="/items/OM-5" >add lifetime membership to cart</a>
</p>
